*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(https://media.istockphoto.com/photos/money-currency-symbol-on-wooden-background-picture-id584754994?k=6&m=584754994&s=612x612&w=0&h=uSe3RY86ZUl-mGYBZ9Ev_EqrnrVa5NbVALyxso00ui0=);
  font-family: times;
  background-size: cover;

}

h1{
  text-align: center;
  text-decoration: underline;
}

table{
  margin-top: 5%;
  margin-left:38%;
  background-color: grey;

}

table,th,td,tr{
  border: 1px;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  border-width: medium;
  text-transform:uppercase;
  text-align: center;
}

.body{
  background-color: grey;
  height: 200px;
  width: 400px;
  margin-left: 37.75%;
}

input{
  height: 25px;
  text-align: center;
}

#input{
  margin-left: 10%;
}

#inputType , #resultType {
  height: 25px;
  width: 100px;
  margin-left: 41px;
}

select{
  text-transform: uppercase;
}

#resultType{
  margin-left: 60px;
}

footer{
  text-align: center;
  text-decoration: overline;
  margin-top: 100px;
  
}
